@model IEnumerable<Przychodnia_medyczna.Models.TestResult>

@{
    ViewBag.Title = "GetTestResults";
}

<h2>GetTestResults</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManagerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientPesel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientPesel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestType)
        </td>
        <td>
            @Html.ActionLink("Pokaz", "Edit", new { id=item.TestResultId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TestResultId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TestResultId })
        </td>
    </tr>
}

</table>
