@using Microsoft.AspNet.Identity
@using Przychodnia_medyczna.Models
<!DOCTYPE html>
<html>
<head>
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KLabs Panel administratora</title>

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    @*@Scripts.Render("~/bundles/jquery2")
        @RenderSection("Scripts", required: false)
        <script src="~/Scripts/bootstrap.js"></script>*@
    @Styles.Render("~/Content/css")

   
</head>
<body>
    @{
        ApplicationDbContext db = new ApplicationDbContext();
        int PatientSum = db.Patients.Count();
        int ManagerSum = db.Managers.Count();
        int ResultsSum = db.PatientTests.Count();
    }
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>ADMIN</span>PANEL</a>
                <ul class="nav navbar-top-links navbar-right"></ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">

                <img src="~/Content/template/Admin/images/logo.png" class="img-responsive" alt="" />
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">@User.Identity.GetUserName()</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>
  
        <ul class="nav menu">
            <li><a href="@Url.Action("Index","Laboratories")"><span><em class="fa fa-hospital-o">&nbsp;</em> Laboratorium</span></a></li>
            <li><a href="@Url.Action("GetPatients","SuperAdmins")"><span><em class="fa fa-users">&nbsp;</em>Pacjenci</span></a></li>
            <li><a href="@Url.Action("RegisterPatient","SuperAdmins")"><span><em class="fa fa-user-plus">&nbsp;</em>Rejestracja pacjenta</span></a></li>
            <li><a href="@Url.Action("GetManagers","SuperAdmins")"><span>Personel</span></a></li>
            <li><a href="@Url.Action("RegisterManager","SuperAdmins")"><span>Rodzaje badań</span></a></li>
            <li><a href="@Url.Action("Create","TestTypes1")"><span><em class="fas fa-list-alt">&nbsp;</em>Dodaj kolejne badanie</span></a></li>

           
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><em class="fa fa-power-off">&nbsp;</em> Wyloguj</a></li>
                }
            }
        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="panel panel-container">
            <div class="row">
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-teal panel-widget border-right">
                        <div class="row no-padding">
                            <em class="fa fa-xl fa-wpforms color-blue"></em>
                            <div class="large">@ResultsSum</div>
                            <div class="text-muted">Testów</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-orange panel-widget border-right">
                        <div class="row no-padding">
                            <em class="fa fa-xl fa-id-badge color-teal"></em>
                            <div class="large">@ManagerSum</div>
                            <div class="text-muted">Managerów</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-orange panel-widget border-right">
                        <div class="row no-padding">
                            <em class="fa fa-xl fa-users color-teal"></em>
                            <div class="large">@PatientSum</div>
                            <div class="text-muted">Pacjentów</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-red panel-widget ">
                        <div class="row no-padding">
                            <em class="fa fa-xl fa-flask color-red"></em>
                            <div class="large">15</div>
                            <div class="text-muted">Rodzajów badań</div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
        <div class="row">
            
                <div class="panel panel-default">
             
                    <div class="panel-body">
                        <div class="canvas-wrapper">
                            @RenderBody()
                        </div>
                    </div>
                </div>
         
        </div><!--/.row-->


        <div class="row">
        </div>	<!--/.main-->
    </div>

</body>
</html>